#new-family-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

#update-family-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

input {
  margin-bottom: 0.5em;
  margin-left: 1em;
  border: none;
  border-bottom: 1px solid thistle;
}

label {
  padding: 5px;
}

table {
  margin-top: 1em;
  width: 100%;
  border-collapse: collapse;

}

thead {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-family: Arial, sans-serif;
}

th {
  padding: 1em;
}

tbody tr:hover {
  background-color: thistle !important;
  cursor: pointer;
}

table tbody tr:nth-child(odd) {
  background-color: #F9F5F9;
}

input:focus {
  outline: none;
}

#mainPage {
  position: relative;
  width: 80%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  max-width: 110px;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  color: mediumorchid;
  border: 2px solid mediumorchid;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: white;
  font-weight: lighter;
}

.button:hover {
  background: #fdf4fc;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 300px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close_add_and_update_family_popup {
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 20px;
  text-decoration: none;
  height: 20px;
  color: mediumorchid;
  border: 2px solid mediumorchid;
}

.popup .close_add_and_update_family_popup:hover {
  color: darkorchid;
}

.popup .content {
  max-height: 45%;
  overflow: auto;
}

.close_add_and_update_family_popup {
  position: absolute;
}

.window-close-button {
  position: static;
  width: 70px;
}
